* {
   box-sizing: border-box; 
}

/* COLOR PALETTE
text: #01030a;
background: #f3f5fd;
primary: #3159e4;
secondary: #b680ee;
accent: #c358e9;
*/

#pfp {
    border-radius: 50%;
    border: 1px solid #c358e9;
    width: 65px;
}

.name {
    color: #01030a;   
    font-family: sans-serif;
    display: inline-block;
    font-size: 40px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b680ee;
    display: flex;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    width: 99%;
}

ul li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color: #3159e4;
}

ul li a.active {
    background-color: #c358e9;
}

#top #contact #interests{
    margin-top: 50px;
}
