* {
   box-sizing: border-box; 
}

/* COLOR PALETTE
--text: #eff0f1;
--background: #393f3f;
--link: #8abff3;
--primary: #688892;
--secondary: #324b53;
--accent: #3e6b79;

*/

body {
    background-color: #393f3f;
}

#skills li{
    font-family: monospace;
    font-size: 15px;
    color: #eff0f1;
}
#projects li{
    font-family: monospace;
    font-size: 15px;
    color: #eff0f1;
}
#interests li{
    font-family: monospace;
    font-size: 15px;
    color: #eff0f1;
}
#contact_links li, p, a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #eff0f1;
}
#pfp {
    border-radius: 50%;
    border: 1px solid #6b8d97;
    width: 65px;
}

.name {
    color: #eff0f1;   
    font-family: sans-serif;
    display: inline-block;
    font-size: 40px;
}

hr {
    height: 7px;
    color: #acc5cd;
    background-color: #acc5cd;
    font-size: 0;
    border: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #688892;
    display: flex;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    width: 99%;
}

ul li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color: #324b53;
}

ul li a.active {
    background-color: #3e6b79;
}

h2 {
    font-size: 30px;
    font-family: sans-serif;
    color: #eff0f1;
    margin: 0.25em;
}

a {
    color: #8abff3;
}

a:hover {
    color: #3e6b79;
}

