* {
   box-sizing: border-box; 
}

/* COLOR PALETTE
text: #01030a;
background: #f3f5fd;
primary: #3159e4;
secondary: #b680ee;
accent: #c358e9;
*/

body {
    background-color: #f3f5fd;
}

#skills li{
    font-family: monospace;
    font-size: 15px;
}
#projects li{
    font-family: monospace;
    font-size: 15px;
}

#pfp {
    border-radius: 50%;
    border: 1px solid #3159e4;
    width: 65px;
}

.name {
    color: #3159e4;   
    font-family: sans-serif;
    display: inline-block;
    font-size: 40px;
}

hr {
    height: 7px;
    color: #c358e9;
    background-color: #c358e9;
    font-size: 0;
    border: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b680ee;
    display: flex;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    width: 99%;
}

ul li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color: #3159e4;
}

ul li a.active {
    background-color: #c358e9;
}

h2 {
    font-size: 30px;
    font-family: sans-serif;
    color: #01030a;
}


